html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {outline: none !important;}
html {
}
body {
    font-family: 'Roboto', 'sans-serif';
}
.page-title h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    letter-spacing: -2px;
    color: #333;
}
.page-title h2 {
    font-family: 'Roboto', sans-serif;
    margin-top: -5px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #555;
}
.exercice h1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 70px;
    margin-left: 10%;
    font-weight: bold;
    font-size: 23px;
    text-align: left;
    color: #555;
}
.exercice h2 {
	font-family: 'Roboto', sans-serif;
	margin-top: 40px;
	margin-left: 10%;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: #666;
}
.paragraph {
    font-family: 'Roboto', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: justify;
    color: #999;
}
#wrap-editor {
    overflow: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    resize: vertical;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:20px;
    margin-bottom: 20px;
    height: 100px;
    padding-right: 10px;
    padding-left: 10px;
}
.editor {
	display: block;
	border : 1px #ddd solid;
	overflow: auto;
	height: 100%;
}
.console {
	margin-bottom: 30px;
	height: auto;
	font-family: 'Roboto', sans-serif;
	margin-left: 10%;
	padding-left: 10px;
	margin-right: 10%;
	margin-bottom: 20px;
	font-size: 13px;
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
}
.neutre {
	color: #333;
	background-color: #fafafa;
	border: 1px #eee solid;
}
.valid {
	color: #0aa;
	background-color: #eefafa;
	border: 1px #eaf0f0 solid;
}
.error {
	color: #d77;
	background-color: #faeeee;
	border: 1px #f0dcf0 solid;
}
ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding : 0;
}
.paragraph li {
	margin-left: 30px;
	color: #777;
}
.parenthese{
	color: #999;
	font-style: italic;
	font-size: 15px;
	margin-left: 15px;
	margin-top: 5px;
}
.paragraph ul{
	margin-top: 30px;
	margin-bottom: 30px;
}
.spacebutton {
	margin-top: 50px;
	margin-right: 10%;
	margin-left:10%;
	text-align: center;
	border-top : solid 1px #eee;
	border-bottom: solid 1px #eee;
	margin-bottom: 75px;
}
.button {
    display: inline block;
    outline: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.55px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-width: 0;
    margin: 20px 10px 20px 20px;
    box-sizing: border-box;
    transition-property: all;
    -webkit-transition-timing-function: linear; /* Safari and Chrome */
    transition-timing-function: linear;
    -webkit-transition-duration: 90ms; /* Safari */
    transition-duration: 90ms;    
}
.button--m {
    padding: 0 20px;
    height: 30px;
    border-radius: 20px;
    line-height: 32px;
}
.button--sm {
    padding: 0 15px;
    height: 22px;
    border-radius: 20px;
    line-height: 24px;
}
.button--sharp-m {
    padding: 0 20px;
    height: 30px;
    border-radius: 0;
    line-height: 32px;
}
.button--sharp-sm {
    padding: 0 50px;
    height: 50px;
    border-radius: 0;
    line-height: 24px;
}
.button--flat {
    color: white;
}
.button--flat:hover {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.10);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.10);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.10);
}
.button--flat:active {
    box-shadow: inset 0px 2px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px 2px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0px 2px 1px rgba(0,0,0,0.15);
}
.button--flat-sharp {
    color: white;
}
.button--flat-sharp:hover {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.10);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.10);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.10);
}
.button--flat-sharp:active {
    box-shadow: inset 0px 4px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px 4px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0px 4px 2px rgba(0,0,0,0.15);
}
.button--outline {
    color: #919498
}
.button--outline:hover {
    color: white;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.10);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.10);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.10);
}
.button--outline:active {
    color: white;
    box-shadow: inset 0px 2px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px 2px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0px 2px 1px rgba(0,0,0,0.15);
}
.button--outline-sharp {
    color: #919498;
}
.button--outline-sharp:hover {
    color: white;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.10);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.10);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.10);
}
.button--outline-sharp:active {
    color: white;
    box-shadow: inset 0px 4px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px 4px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0px 4px 2px rgba(0,0,0,0.15);
}
.background--wingman {
    background-color: #8CB344;
    border: none;
}
.background--wingman:hover {
    background-color: #A3C269;
}
.background--wingman:active {
    background-color: #708F36;
}
.background--alternate {
    background-color: #B6B9BE;
    border: none;
}
.background--alternate:hover {
    background-color: #C4C7CB;
}
.background--alternate:active {
    background-color: #919498;
}
.background--outline {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #A7A8AA;
}
.background--outline:hover {
    background-color: #C4C5C6;
}
.background--outline:active {
    background-color: #6D6F72;
}
.cf:before, .cf:after {
  content: ' ';
  display: table;
}
.cf:after {
  clear: both;
}
.inner {
  max-width: 820px;
  margin: 0 auto;
}
.breadcrumbs {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}
.breadcrumbs li {
  float: left;
  width: 20%;
}
.breadcrumbs a {
  position: relative;
  display: block;
  padding: 20px;
  padding-right: 0 !important;
  font-size: 16px;
  text-align: center;
  color: #aaa;
  cursor: pointer;
}
.breadcrumbs a:hover {
  background: #eee;
  text-decoration:none;
}
.breadcrumbs a.active {
  color: #777;
  background-color: #fafafa;
}
.breadcrumbs a.passif {
  color: #DDD;
}
.breadcrumbs a.passif span:first-child {
 border: 2px solid #ddd;
 background-color: #efefef;
}
.breadcrumbs a span:first-child {
  display: inline-block;
  width: 28px;
  height: 28px;
  padding: 2px;
  margin-right: 5px;
  border: 2px solid #aaa;
  border-radius: 50%;
  background-color: #fff;
}
.breadcrumbs a.active span:first-child {
  color: #fff;
  border-color: #777;
  background-color: #777;
}
.breadcrumbs a:before,
.breadcrumbs a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
  display: block;
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 16px solid transparent;
}
.breadcrumbs a:before {
  margin-left: 1px;
  border-left-color: #d5d5d5;
}
.breadcrumbs a:after {
  border-left-color: #f5f5f5;
}
.breadcrumbs a:hover:after {
text-decoration:none;
  border-left-color: #eee;
}
.breadcrumbs a.active:after {
  border-left-color: #fafafa;
}
.breadcrumbs li:last-child a:before,
.breadcrumbs li:last-child a:after {
  display: none;
}
@media (max-width: 720px) {
  .breadcrumbs a {
    padding: 15px;
  }
  .breadcrumbs a:before,
  .breadcrumbs a:after {
    border-top-width: 26px;
    border-bottom-width: 26px;
    border-left-width: 13px;
  }
}
@media (max-width: 620px) {
  .breadcrumbs a {
    padding: 10px;
    font-size: 12px;
  }
  .breadcrumbs a:before,
  .breadcrumbs a:after {
    border-top-width: 22px;
    border-bottom-width: 22px;
    border-left-width: 11px;
  }
}
@media (max-width: 520px) {
  .breadcrumbs a {
    padding: 5px;
  }
  .breadcrumbs a:before,
  .breadcrumbs a:after {
    border-top-width: 16px;
    border-bottom-width: 16px;
    border-left-width: 8px;
  }
  .breadcrumbs li a span:first-child {
    display: block;
    margin: 0 auto;
  }
  .breadcrumbs li a span:last-child {
    display: none;
  }
  .fixed-action-btn.spin-close .btn-large {
  position: relative;
}
.fixed-action-btn.spin-close .btn-large i {
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
}
.fixed-action-btn.spin-close .btn-large:before {
  transition: transform 0.3s, opacity 0.3s;
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.64rem;
  height: 2px;
  background: white;
  margin-top: -2px;
  margin-left: -0.82rem;
  transform: rotate(0);
  opacity: 0;
}
.fixed-action-btn.spin-close .btn-large:after {
  transition: transform 0.3s, opacity 0.3s;
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.64rem;
  height: 2px;
  background: white;
  margin-top: -2px;
  margin-left: -0.82rem;
  transform: rotate(0);
  opacity: 0;
}
.fixed-action-btn.spin-close.active .btn-large i {
  opacity: 0;
}
.fixed-action-btn.spin-close.active .btn-large:before {
  opacity: 1;
  transform: rotate(135deg);
}
.fixed-action-btn.spin-close.active .btn-large:after {
  opacity: 1;
  transform: rotate(405deg);
}
