html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {outline: none !important;

}
html{
}
body{
	font-family: 'Roboto', 'sans-serif';
}

.page-title h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size:50px;
	text-align: center;
	letter-spacing: -2px;
	color: #333;
}

.page-title h2 {
	font-family: 'Roboto', sans-serif;
	margin-top: -5px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #555;
}

.exercice  h1 {
	font-family: 'Roboto', sans-serif;
	margin-top: 70px;
	margin-left: 100px;
	font-weight: bold;
	font-size: 23px;
	text-align: left;
	color: #555;
}

.exercice h2 {
	font-family: 'Roboto', sans-serif;
	margin-top: 40px;
	margin-left: 100px;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: #666;
}

.paragraph {
	font-family: 'Roboto', sans-serif;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 20px;
	font-size: 18px;
	text-align: justify;
	color: #999;
}

.editor {
	display: block;
	border : 1px #ddd solid;
	overflow: auto;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 30px;
	height: 100px;
}

ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding : 0;
}

.paragraph li {
	margin-left: 30px;
	color: #777;
}

.parenthese{
	color: #999;
	font-style: italic;
	font-size: 15px;
	margin-left: 15px;
	margin-top: 5px;
}

.paragraph ul{
	margin-top: 30px;
	margin-bottom: 30px;
}

.cf:before, .cf:after {
  content: ' ';
  display: table;
}
.cf:after {
  clear: both;
}

.inner {
  max-width: 820px;
  margin: 0 auto;
}

.breadcrumbs {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

.breadcrumbs li {
  float: left;
  width: 20%;
}

.breadcrumbs a {
  position: relative;
  display: block;
  padding: 20px;
  padding-right: 0 !important;
  font-size: 16px;
  text-align: center;
  color: #aaa;
  cursor: pointer;
}

.breadcrumbs a:hover {
  background: #eee;
  text-decoration:none;

}

.breadcrumbs a.active {
  color: #777;
  background-color: #fafafa;
}

.breadcrumbs a.passif {
  color: #DDD;
}

.breadcrumbs a.passif span:first-child {
 border: 2px solid #ddd;
 background-color: #efefef;
}

.breadcrumbs a span:first-child {
  display: inline-block;
  width: 28px;
  height: 28px;
  padding: 2px;
  margin-right: 5px;
  border: 2px solid #aaa;
  border-radius: 50%;
  background-color: #fff;
}

.breadcrumbs a.active span:first-child {
  color: #fff;
  border-color: #777;
  background-color: #777;
}

.breadcrumbs a:before,
.breadcrumbs a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
  display: block;
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 16px solid transparent;
}

.breadcrumbs a:before {
  margin-left: 1px;
  border-left-color: #d5d5d5;
}

.breadcrumbs a:after {
  border-left-color: #f5f5f5;
}

.breadcrumbs a:hover:after {
text-decoration:none;
  border-left-color: #eee;
}

.breadcrumbs a.active:after {
  border-left-color: #fafafa;
}

.breadcrumbs li:last-child a:before,
.breadcrumbs li:last-child a:after {
  display: none;
}

@media (max-width: 720px) {
  .breadcrumbs a {
    padding: 15px;
  }

  .breadcrumbs a:before,
  .breadcrumbs a:after {
    border-top-width: 26px;
    border-bottom-width: 26px;
    border-left-width: 13px;
  }
}
@media (max-width: 620px) {
  .breadcrumbs a {
    padding: 10px;
    font-size: 12px;
  }

  .breadcrumbs a:before,
  .breadcrumbs a:after {
    border-top-width: 22px;
    border-bottom-width: 22px;
    border-left-width: 11px;
  }
}
@media (max-width: 520px) {
  .breadcrumbs a {
    padding: 5px;
  }

  .breadcrumbs a:before,
  .breadcrumbs a:after {
    border-top-width: 16px;
    border-bottom-width: 16px;
    border-left-width: 8px;
  }

  .breadcrumbs li a span:first-child {
    display: block;
    margin: 0 auto;
  }

  .breadcrumbs li a span:last-child {
    display: none;
  }

  .fixed-action-btn.spin-close .btn-large {
  position: relative;
}
.fixed-action-btn.spin-close .btn-large i {
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
}
.fixed-action-btn.spin-close .btn-large:before {
  transition: transform 0.3s, opacity 0.3s;
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.64rem;
  height: 2px;
  background: white;
  margin-top: -2px;
  margin-left: -0.82rem;
  transform: rotate(0);
  opacity: 0;
}
.fixed-action-btn.spin-close .btn-large:after {
  transition: transform 0.3s, opacity 0.3s;
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.64rem;
  height: 2px;
  background: white;
  margin-top: -2px;
  margin-left: -0.82rem;
  transform: rotate(0);
  opacity: 0;
}
.fixed-action-btn.spin-close.active .btn-large i {
  opacity: 0;
}
.fixed-action-btn.spin-close.active .btn-large:before {
  opacity: 1;
  transform: rotate(135deg);
}
.fixed-action-btn.spin-close.active .btn-large:after {
  opacity: 1;
  transform: rotate(405deg);
}


