html {
}

body {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  margin-left: 10%;
  margin-right: 10%;
}

.page-title h1 {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  letter-spacing: -2px;
  color: #333;
}
.page-title h2 {
  margin-top: -5px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #555;
}

.exercice {
  margin-bottom: 50px;
}

.exercice h1 {
  margin-top: 50px;
  font-weight: bold;
  font-size: 23px;
  text-align: left;
  color: #555;
}

.exercice h2 {
	font-family: 'Roboto', sans-serif;
	margin-top: 40px;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: #666;
}

.paragraph {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: justify;
  color: #999;
}

#wrap-editor {
  overflow: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  resize: vertical;
  height: 100px;
}

.editor {
	display: block;
	border : 1px #ddd solid;
	overflow: auto;
	height: 100%;
}

.console {
	margin-bottom: 30px;
	height: auto;
	font-family: 'Roboto', sans-serif;
	padding-left: 10px;
	margin-bottom: 20px;
	font-size: 13px;
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
}

.answer {
 display: block;
 border : 1px #ddd solid;
 overflow: auto;
 height: 100%;
 border-left: 0px;
 background-color: #fafafa;
 font-family: "Roboto", sans-serif;
 padding-left: 10px;
}

.answer .title {
  margin-left: -10px;
  padding-left: 5px;
  background-color: #f5f5f5;
  font-weight: bold;
  font-size: 12px;
  border-bottom: 1px #ddd solid;
  margin-bottom: 2px;
}

.neutre {
	color: #333;
	background-color: #fafafa;
	border: 1px #eee solid;
}
.valid {
	color: #0aa;
	background-color: #eefafa;
	border: 1px #eaf0f0 solid;
}
.error {
	color: #d77;
	background-color: #faeeee;
	border: 1px #f0dcf0 solid;
}

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

nav {
  display: block;
  text-decoration: none;
  cursor: pointer;

}

nav ul {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
}

nav li {
  font-weight: bold;
  display: inline-block;
  width: auto;
  padding-left : 30px;
  padding-right: 30px;
  text-align: left;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  background-color: #fafafa;
  border: 1px solid #eee;
  text-decoration: none;
}

.is-active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  color : #333;
  text-decoration: none;
}

nav {
  height: 100%;
  display: block;
  color: #888;
  text-decoration: inherit;
}

nav:visited {
  text-decoration: inherit;
}

nav:hover {
  text-decoration: none;
  padding: auto;
  color : #aaa;

}

nav.is-active:hover {
 text-decoration: inherit;
 padding: auto;
 color : #444;
}

.content-item {
  border-left: 1px solid #eee; 
}

.content-item .paragraph {
  margin-left: 20px;
  padding-top: 15px;

}

h2 {
  margin-bottom: 20px;
}

input[type=text] {
  text-align: center;
  border: none;
  border-bottom: 2px solid #eee;
}
input:focus {
  outline: none;
  border-bottom: solid 2px #f5f5f5;
}

input:invalid {
  outline: none;
  border-bottom: solid 2px #d87171;
}

ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding : 0;
}

.paragraph li {
	margin-left: 30px;
	color: #777;
}
.parenthese{
  color: #999;
  font-style: italic;
  font-size: 15px;
  margin-left: 15px;
  margin-top: 5px;
}
.paragraph ul{
  margin-top: 30px;
  margin-bottom: 30px;
}
.spacebutton {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-top : solid 1px #eee;
  border-bottom: solid 1px #eee;
  margin-bottom: 30px;
}

.row {
  margin-top:20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.dubble-Present {
  display: flex;
  box-shadow: inset 0 -1px 0 #eee;
}


.col-md-7 , .col-md-5, .col-md-11, .col-md-1 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.col-md-1 {
  text-align: right;
}


.progress-button {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 0px;
}

.progress-button button {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 50px;
  height: 50px;
  border: 5px solid #1ECD97;
  border-radius: 40px;
  background: transparent;
  color: #1ECD97;
  letter-spacing: 1px;
  font-size: 18px;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color 0.1s, color 0.1s, width 0.1s, border-width 0.1s, border-color 0.1s;
  transition: background-color 0.1s, color 0.1s, width 0.1s, border-width 0.1s, border-color 0.1s;
}

.progress-button button:hover {
  background-color: #1ECD97;
  color: #fff;
}

.progress-button button:focus {
  outline: none;
}

.progress-button button span {
  -webkit-transition: opacity 0.1s 0.1s;
  transition: opacity 0.1s 0.1s;
}

.progress-button svg {
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}

.progress-button svg path {
  opacity: 0;
  fill: none;
}

.progress-button svg.progress-circle path {
  stroke: #1ECD97;
  stroke-width: 5;
}

.errorfail.progress-button svg.progress-circle path {
  stroke: #FB797E;
  stroke-width: 5;
}

.progress-button svg.checkmark path,
.progress-button svg.cross path {
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 4;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.loading.progress-button button {
  width: 50px; 
  border-width: 4px;
  border-color: #ddd;
  background-color: transparent;
  color: #fff;
}

.glyphicon-repeat {
  padding-top: 4px;
}

.loading.progress-button span {
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.loading.progress-button span,
.success.progress-button span,
.errorfail.progress-button span {
  opacity: 0;
}

.success.progress-button button,
.errorfail.progress-button button {
  -webkit-transition: background-color 0.1s, width 0.1s, border-width 0.1s;
  transition: background-color 0.1s, width 0.1s, border-width 0.1s;
}

.success.progress-button button {
  border-color: #1ECD97;
  background-color: #1ECD97;
}

.errorfail.progress-button button {
  border-color: #FB797E;
  background-color: #FB797E;
}

.loading.progress-button svg.progress-circle path {
  opacity: 1;
  -webkit-transition: stroke-dashoffset 0.6s;
  transition: stroke-dashoffset 0.6s;
}

.success.progress-button svg.checkmark path,
.errorfail.progress-button svg.cross path {
  opacity: 1;
  -webkit-transition: stroke-dashoffset 0.1s;
  transition: stroke-dashoffset 0.1s;
}

.elastic.progress-button button {
  -webkit-transition: background-color 0.1s, color 0.1s, width 0.1s cubic-bezier(0.25, 0.25, 0.4, 1), border-width 0.1s, border-color 0.1s;
  -webkit-transition: background-color 0.1s, color 0.1s, width 0.1s cubic-bezier(0.25, 0.25, 0.4, 1.6), border-width 0.1s, border-color 0.1s;
  transition: background-color 0.1s, color 0.1s, width 0.1s cubic-bezier(0.25, 0.25, 0.4, 1.6), border-width 0.1s, border-color 0.1s;
}

.loading.elastic.progress-button button {
  -webkit-transition: background-color 0.1s, color 0.1s, width 0.1s cubic-bezier(0.6, 0, 0.75, 0.75), border-width 0.1s, border-color 0.1s;
  -webkit-transition: background-color 0.1s, color 0.1s, width 0.1s cubic-bezier(0.6, -0.6, 0.75, 0.75), border-width 0.1s, border-color 0.1s;
  transition: background-color 0.1s, color 0.1s, width 0.1s cubic-bezier(0.6, -0.6, 0.75, 0.75), border-width 0.1s, border-color 0.1s;
}

.progress-button *, *:before, *:after {
  box-sizing: border-box;
}


.button {
  display: inline block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.55px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-width: 0;
  margin: 0px 0px 0px 00px;
  box-sizing: border-box;
  transition-property: all;
  -webkit-transition-timing-function: linear; 
  transition-timing-function: linear;
  -webkit-transition-duration: 20ms; 
  transition-duration: 20ms;    
  margin-left: 20px;
  margin-right: 20px;
}

.btn-action {
  padding: 0 50px;
  height: 50px;
  border-radius: 0;
  line-height: 24px;
  color: #919498;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #A7A8AA;
}

.btn-action:hover {
  color: white;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.10);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.10);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.10);
  background-color: #C4C5C6;
}

.btn-action:active {
  color: white;
  box-shadow: inset 0px 4px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0px 4px 2px rgba(0,0,0,0.15);
  -webkit-box-shadow: inset 0px 4px 2px rgba(0,0,0,0.15);
  background-color: #6D6F72;
}

.btn-action-passif {
  padding: 0 50px;
  height: 50px;
  border-radius: 0;
  line-height: 24px;
  color: #ddd;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #ddd;
  cursor: default;
  pointer-events: none;
}

.cf:before, .cf:after {
  content: ' ';
  display: table;
  width: auto;
}

.cf:after {
  clear: both;
  width: auto;
}

#global {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: left;
}

.breadcrumbs {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
  margin-bottom: 40px;
  margin-left: -12.5%;
  margin-right: -12.5%;
}

.breadcrumbs li {
  float: left;
  width: 20%;
}

.breadcrumbs a {
  position: relative;
  display: block;
  padding: 19px;
  padding-right: 0 !important;
  font-size: 16px;
  text-align: center;
  color: #aaa;
}

.breadcrumbs a:hover {
  background: #eee;
  text-decoration:none;
}

.breadcrumbs a.active {
  color: #777;
  background-color: #fafafa;
}
.breadcrumbs a.passif {
  color: #DDD;
  cursor: default;
  pointer-events: none;
}

.breadcrumbs a.passif:hover {
  pointer-events: none;
}

.breadcrumbs a.passif span:first-child {
 border: 2px solid #ddd;
 background-color: #efefef;

}

.breadcrumbs a span:first-child {
  display: inline-block;
  width: 22px;
  height: 22px;
  padding: 2px;
  margin-right: 5px;
  border: 2px solid #aaa;
  border-radius: 50%;
  background-color: #fff;
}

.breadcrumbs a.active span:first-child {
  color: #fff;
  border-color: #777;
  background-color: #777;
}
.breadcrumbs a:before,
.breadcrumbs a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
  display: block;
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 16px solid transparent;
}
.breadcrumbs a:before {
  margin-left: 1px;
  border-left-color: #d5d5d5;
}
.breadcrumbs a:after {
  border-left-color: #f5f5f5;
}
.breadcrumbs a:hover:after {
  text-decoration:none;
  border-left-color: #eee;
}
.breadcrumbs a.active:after {
  border-left-color: #fafafa;
}
.breadcrumbs li:last-child a:before,
.breadcrumbs li:last-child a:after {
  display: none;
}
@media (max-width: 720px) {
  .breadcrumbs a {
    padding: 15px;
  }
  .breadcrumbs a:before,
  .breadcrumbs a:after {
    border-top-width: 26px;
    border-bottom-width: 26px;
    border-left-width: 13px;
  }
}
@media (max-width: 620px) {
  .breadcrumbs a {
    padding: 10px;
    font-size: 12px;
  }
  .breadcrumbs a:before,
  .breadcrumbs a:after {
    border-top-width: 22px;
    border-bottom-width: 22px;
    border-left-width: 11px;
  }
}
@media (max-width: 520px) {
  .breadcrumbs a {
    padding: 5px;
  }
  .breadcrumbs a:before,
  .breadcrumbs a:after {
    border-top-width: 16px;
    border-bottom-width: 16px;
    border-left-width: 8px;
  }
  .breadcrumbs li a span:first-child {
    display: block;
    margin: 0 auto;
  }
  .breadcrumbs li a span:last-child {
    display: none;
  }
  
