body {
    font-family: "Roboto", sans-serif !important;
}

.background-connexion {
    background: url('../img/background.jpg') center no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.table {
    width: 90%;
}

h4 {
    color: #777;
}

.col-md-6 {
    padding: 0;
}

x .sign-up-form {
    width: 350px;
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    background-color: #FDFDFD;
}

.sign-up-header {
    display: block;
    width: auto;
    height: 100px;
    background-color: #333A44;
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-attachment: relative;
    background-position: center;
    background-size: 175px;
}

.arrow-down {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #333A44;
    width: 0;
    height: 0;
    margin: auto;
}

.sign-up-body {
    padding: 30px 42px 30px 40px;
}

.sign-up-body h1 {
    margin: 0px;
    font-size: 20px;
    text-align: center;
    color: #555;
    margin-bottom: 15px;
}

.form-control {
    margin: 20px 0px;
    padding-left: 5px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #eee;
    border-radius: 0px !important;
    box-shadow: none !important;
}

::-webkit-input-placeholder {
    font-size: 11px;
    margin-left: 10px;
}

.form-control:focus {
    outline: none !important;
    border-bottom: 1px solid #43ceff;
    box-shadow: none;
}

.btn {
    margin-top: 25px;
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    background-color: #43ceff;
    color: #FDFDFD;
    font-size: 12px;
}

.btn:hover {
    color: #FDFDFD;
    background-color: #71e1ff;
}

.btn:active {
    color: #FDFDFD;
    background-color: #71e1ff;
}

.btn:focus {
    color: #FDFDFD;
}

.agreement {
    margin-top: 16px;
    font-size: 8px;
}

.dropdown {
    padding-left: 5px;
    border-left: 1px solid #444;
}

.dropdown-toggle {
    color: #eee !important;
}

.dropdown:hover {
    background-color: #444B55;
    border-left: 1px solid #555;
}

.contain {
    margin-right: 10%;
    margin-left: 10%;
}

.navlink .active a {
    background-color: #fafafa !important;
    color: #333A44 !important;
}

.navlink:hover {
    background-color: #444B55;
    color: #333A44;
}

.navlink a {
    padding-left: 20px !important;
    padding-right: 20px !important;
    color: #aaa !important;
    font-size: 15px !important;
}

.navbar-default {
    padding-right: 10%;
    padding-left: 10%;
    background: #333A44;
    border: none;
    border-radius: 0px;
}

.navbar-brand {
    color: #222!important;
    font-size: 40px;
    font-weight: 700;
    margin-top: -7px;
    width: 200px;
}

.logo {
    position: relative;
    width: 50px;
}
